/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * OpenStreet frontend Map defaults
 */
.soundmap-map {

	width: 100%;
	min-height: 600px;
	background-color: #f1f1f1;
	margin-top: 1em;

}
